@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
/* MENU */
nav {
  min-height: 10vh;
  background-color: #333;
  text-align: center;
  font-size: 0;
  height: 50px;
}
nav a {
  display: inline-block;
  width: 25%;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  font-family: arial;
  /* height: 50px; */
  line-height: 50px;
  font-size: 1rem;
}

/* HEADER */
section.room-bgc {
  background: url('images/room.jpeg') no-repeat center/cover;
  /* filter: brightness(50%); */
  height: 70vh;
  color: #fff;
  text-align: center;
  padding-top: 120px;
}

section.room-bgc h1 {
  font-family: 'Anton', sans-serif;
  font-size: 4rem;
  color: #fff;
  letter-spacing: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}
span.text {
  color: lightsalmon;
}
